<div class="iapp-panel iapp-name-input-panel active">
    <div class="iapp-content-wrap">
        <h3 class="iapp-name-info">Let's have a conversation</h3>
        <h3 class="iapp-name-info">First, what's your name?</h3>
        <input type="text" class="iapp-name-input">
        <div class="name-next-button button">Next</div>
    </div>
</div>

<div class="iapp-panel iapp-name-thankyou-panel upcoming">
    <div class="iapp-content-wrap">
        <h3 class="iapp-name-info">Thank you, <%=userName%>. We're getting someone for you.</h3>
    </div>
</div>