<div class="iapp-panel iapp-name-input-panel active">
    <div class="iapp-content-wrap">
        <h3 class="iapp-name-info"><%=name_text%></h3>
        <input type="text" class="iapp-name-input" placeholder="Your name here">
        <div class="name-next-button button">Next</div>
    </div>
</div>

<div class="iapp-panel iapp-name-thankyou-panel upcoming">
    <div class="iapp-content-wrap">
        <h3 class="iapp-name-info">Thank you, <%=userName%>. We're getting someone for you.</h3>
    </div>
</div>