.iapp-share-panel {
    background-color: rgba(50, 50, 50, 0.8);
    filter: none;
    padding: 2em;
    z-index: 10;
}

.iapp-share-close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 60px;
}

.iapp-share-button {
    display: block;
    margin: 0 auto;
    width: 60px;
}

.iapp-share-preview {
    font-family: "Futura Today Light", Arial,sans-serif;
}