.iapp-tag-container {
    @extend .group;
}

.iapp-tag-item {
    border: solid 1px $blue;
    color: $blue; 
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;

    &.active {
        background-color: $blue;
        color: white;
    }

    &.unavailable {
        display: none;
    }
}

