.iapp-brightcove-wrap {
    overflow: hidden;
    position: absolute;
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
    @media(max-width: 450px) {
        position: relative;
    }
}

.BrightcoveExperience {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iapp-video-info {
    // background-color: rgba(50, 50, 50, 0.5);
    // background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    bottom: 20px;
    color: white;
    padding: 2em;
    position: absolute;
    width: 80%;
    z-index: 5;

    @media(max-width: 600px) {
        bottom: 0;
        width: 100%;
    }
    .button {
        display: inline-block;
        margin: 0 0.5em;

        @media(min-width: 600px) {
            margin: 0 1em;
        }
    }
}

.iapp-panel.iapp-video-panel {
    overflow-y: hidden;
}

.iapp-video-greeting {
    font-family: "Futura Today Light", Arial,sans-serif;
    text-transform: uppercase;
}