.iapp-index-panel {
    background-color: rgba(25, 25, 25, 0.5);
    box-shadow: $shadow-standard;
    left: auto;
    overflow-y: scroll;
    right: 0;
    width: 400px;
}

.iapp-person-item {
    width: 100%;
}

.iapp-person-item-img {
    width: 100%;
}

.iapp-person-bio {
    padding: 1em;
}